

<script>
// vim: ts=3

document.addEventListener("DOMContentLoaded", function () {
	var banner = document.querySelector("#banner");
	if (!banner) {
		return;
	}
	var title = banner.querySelector("#page-title");
	if (!title) {
		return;
	}
	title.style.fontSize = "1.25rem";
	title.style.marginBottom = "10px";
	var output = "";
	output += "<a href='/object/'>Object documentation</a>";
	output += "<span style='padding: 0px 15px;' class='pipe'>|</span>";
	output += "<a href='/topic/'>Topics</a>";
	output += "<span style='padding: 0px 15px;' class='pipe'>|</span>";
	output += "<a href='/tutorial/'>Tutorials</a>";
	title.innerHTML = output;
});

</script>
