
<style>

table.objectlist, 
table.objectlist tr,
table.objectlist td {
   padding: 0;
   border: 0;
}

table.objectlist tr td:nth-child(1) {
   text-align: right;
   font-weight: 400;
   width: 140px;
}

table.objectlist tr td:nth-child(1)::after {
   content: ":";
}

table.objectlist tr td:nth-child(2) {
   text-align: left;
   padding-left: 10px;
}

</style>


<table object="objectlist" cellpadding="0" cellspacing="0">

<tr valign=top>
   <td> <a href="/object/HumdrumBase">HumdrumBase</a> </td> <td> 
	Core data processing object for Humdrum data.
   </td>
</tr>

</table>
